server {
    server_name  node.isp.com; # <-- TO-DO: Specify the host name that corresponds to your TLS
 certificate
    listen       8080 ssl;

    ssl_certificate /etc/ssl/private/example.com.crt;
    ssl_certificate_key /etc/ssl/private/example.com.key;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    location / {
	proxy_pass   http://node:8090; # Assuming that API node is running on a local docker container n
amed "node" and is listening on port 8090

        # Tip from Thomas Freedman: https://github.com/ThomasFreedman/nginx-proxy.git
        # Essential for connection from certain API clients
        proxy_http_version 1.1;
        proxy_set_header Connection "upgrade";
        proxy_set_header Upgrade $http_upgrade;

        # The following are non-essential settings
        # proxy_set_header      Host    $host;
        # proxy_set_header      X-Real-IP       $remote_addr;
        # proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
        # proxy_redirect off;
        # proxy_buffering off;
        # proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
    }

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
	root   /usr/share/nginx/html;
    }
}

